//////////////////////////////////////////////////////////////////
// Styles to create a standard Card
// Based on Google's Material Design Components Web (https://github.com/material-components/material-components-web).
// Specific component: Button (https://material.io/develop/web/components/buttons/)
//////////////////////////////////////////////////////////////////

@import '../colors';
@import 'shared';

@mixin button-text-color($color) {
    color: $color;
    fill: $color;
}

button, input[type='button'], input[type='reset'], input[type='submit'] {
    border: 0;
    padding-left: 16px;
    padding-right: 16px;
    height: 36px;
    @include round-corners();

    // TODO - hover, pressed states

    &.text {
        @include button-text-color($accent-primary);
    }

    &.raised {
        @include button-text-color(white);
        background-color: $accent-primary;
        @include box-shadow();
    }

    &.unelevated {
        @include button-text-color(white);
        background-color: $accent-primary;
    }

    &.outlined {
        @include button-text-color($accent-primary);
        border: 2px solid $accent-primary;
        background-color: white;
    }

    &.shaped {
        @include button-text-color(white);
        background-color: $accent-primary;
    }
}