//////////////////////////////////////////////////////////////////
// Define specific colors to use throughout the stylesheet
//////////////////////////////////////////////////////////////////

$text-color-primary: black;
$text-color-label: #666666;

$accent-primary: #50065A; // Official purple of Sigma Theta Epsilon
$accent-secondary: #DFA800; // Official gold of Sigma Theta Epsilon

$background-color: #F9E5FF;