/************************
 * Main Content CSS Grid
 ************************/
.grid {
    display: grid;
    padding-top: 4px;
    // TODO - margin-top match header height.
}

$grid-break-8-col-small-gap: 600px;
$grid-break-8-col-large-gap: 720px;
$grid-break-12-col: 840px;

$grid-gap-small: 16px;
$grid-gap-large: 24px;

/************************
 * 4-column grid with small gaps
 * - Small handset (portrait)
 * - Medium handset (portrait)
 * - Large handset (portrait)
 * - Small handset (landscape)
 ************************/
@media (max-width: ($grid-break-8-col-small-gap - 1px)) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: $grid-gap-small;
        padding-left: $grid-gap-small;
        padding-right: $grid-gap-small;

        .cell--span-1 {
            grid-column-end: span 1;
        }

        .cell--span-2 {
            grid-column-end: span 2;

            &.cell-center {
                grid-column-start: 2;
            }
        }

        .cell--span-3 {
            grid-column-end: span 3;
        }

        .cell--span-4 {
            grid-column-end: span 4;
        }

        .cell--span-6, .cell--span-8, .cell--span-12 {
            grid-column-end: span 4; /* Prevent column overload */
        }
    }
}

/************************
 * 8-column grid with small gaps
 * - Small tablet (portrait)
 * - Medium handset (landscape)
 ************************/
@media (min-width: $grid-break-8-col-small-gap) and (max-width: ($grid-break-8-col-large-gap - 1px)) {
    .grid {
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: $grid-gap-small;
        padding-left: $grid-gap-small;
        padding-right: $grid-gap-small;

        .cell--span-1 {
            grid-column-end: span 1;
        }

        .cell--span-2 {
            grid-column-end: span 2;

            &.cell-center {
                grid-column-start: 4;
            }
        }

        .cell--span-3 {
            grid-column-end: span 3;
        }

        .cell--span-4 {
            grid-column-end: span 4;

            &.cell-center {
                grid-column-start: 3;
            }
        }

        .cell--span-6 {
            grid-column-end: span 6;

            &.cell-center {
                grid-column-start: 2;
            }
        }

        .cell--span-8 {
            grid-column-end: span 8;
        }

        .cell--span-12 {
            grid-column-end: span 8; /* Prevent column overload */
        }
    }
}

/************************
 * 8-column grid with large gaps
 * - Large tablet (portrait)
 * - Large handset (landscape)
 ************************/
 @media (min-width: $grid-break-8-col-large-gap) and (max-width: ($grid-break-12-col - 1px)) {
    .grid {
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: $grid-gap-large;
        padding-left: $grid-gap-large;
        padding-right: $grid-gap-large;

        .cell--span-1 {
            grid-column-end: span 1;
        }

        .cell--span-2 {
            grid-column-end: span 2;

            &.cell-center {
                grid-column-start: 4;
            }
        }

        .cell--span-3 {
            grid-column-end: span 3;
        }

        .cell--span-4 {
            grid-column-end: span 4;

            &.cell-center {
                grid-column-start: 3;
            }
        }

        .cell--span-6 {
            grid-column-end: span 6;

            &.cell-center {
                grid-column-start: 2;
            }
        }

        .cell--span-8 {
            grid-column-end: span 8;
        }

        .cell--span-12 {
            grid-column-end: span 8; /* Prevent column overload */
        }
    }
}

/************************
 * 12-column grid with large gaps
 * - Large tablet (portrait)
 * - Large handset (landscape)
 * - Small tablet (landscape)
 * - Large tablet (landscape)
 * - Laptop
 * - Desktop
 * - Large Desktop
 ************************/
@media (min-width: $grid-break-12-col) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: $grid-gap-large;
        padding-left: $grid-gap-large;
        padding-right: $grid-gap-large;

        .cell--span-1 {
            grid-column-end: span 1;
        }

        .cell--span-2 {
            grid-column-end: span 2;

            &.cell-center {
                grid-column-start: 6;
            }
        }

        .cell--span-3 {
            grid-column-end: span 3;
        }

        .cell--span-4 {
            grid-column-end: span 4;

            &.cell-center {
                grid-column-start: 5;
            }
        }

        .cell--span-6 {
            grid-column-end: span 6;

            &.cell-center {
                grid-column-start: 4;
            }
        }

        .cell--span-8 {
            grid-column-end: span 8;

            &.cell-center {
                grid-column-start: 3;
            }
        }

        .cell--span-12 {
            grid-column-end: span 12;
        }
    }
}