/*! Typography */

/*****************************
 * Typography
 * Loosly based on Material typography (https://material.io/design/typography/the-type-system.html)
 *****************************/

$fonts-list: (
    ('Roboto-Black.ttf', normal, 900),
    ('Roboto-BlackItalic.ttf', italic, 900),
    ('Roboto-Bold.ttf', normal, 700),
    ('Roboto-BoldItalic.ttf', italic, 700),
    ('Roboto-Italic.ttf', italic, 400),
    ('Roboto-Light.ttf', normal, 300),
    ('Roboto-LightItalic.ttf', italic, 300),
    ('Roboto-Medium.ttf', normal, 500),
    ('Roboto-MediumItalic.ttf', italic, 500),
    ('Roboto-Regular.ttf', normal, 400),
    ('Roboto-Thin.ttf', normal, 100),
    ('Roboto-ThinItalic.ttf', italic, 100)
);

@each $file, $style, $weight in $fonts-list {
    @font-face {
        font-family: 'Roboto';
        font-style: $style;
        font-weight: $weight;
        src: url('/fonts/#{file}') format('truetype');
    }
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
    line-height: 1.5; 
}

h1 {
    font-size: 6rem; 
}

h2 {
    font-size: 3.75rem; 
}

h3 {
    font-size: 3rem; 
}

h4 {
    font-size: 2.125rem; 
}

h5 {
    font-size: 1.5rem; 
}

h6 {
    font-size: 1.25rem; 
}

p, a, li, label, blockquote {
    font-size: 1.5rem; 
}